language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t behlers/docker-react -f Dockerfile.dev .

# commands
# if any of these commands return a non-zero code, travis
#  assumes the build failed
script:
  - docker run -e CI=true behlers/docker-react npm run test 

deploy:
	provider: elasticbeanstalk
	region: "us-west-1"
	app: "docker-react"
	env: "Dockerreact-env"
	bucket_name: "elasticbeanstalk-us-west-1-368036401314" 
	bucket-path: "docker-react"
	on: 
		branch: master
  access_key_id: "$AWS_ACCESS_KEY"
	secret_access_key: "$AWS_SECRET_KEY"